.App {
    padding: 30px;
    display: flex;
}

.todolist {
    background-color: indianred;
    margin-right: 50px;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    padding: 20px;
}

.todolist-empty {
    background-color: greenyellow;
    margin-right: 50px;
    border: 2px solid #575870;
    border-radius: 5px;
    padding: 20px;
}


